.pane-section
{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.pane-title
{
  margin-bottom: 5px;
  font-size: 18px;
  display: inline-block;
}

.pane-title-icon
{
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  font-family: "Symbols";
}

.pane-item-checkbox
{
  display: inline-block;
}

.pane-item-name
{
  display: inline-block;
}

.win-splitview-pane-closed .pane-section
{
  margin-bottom: 50px;
}

.win-splitview-pane-closed .pane-title
{
  display: none;
}

.win-splitview-pane-closed .pane-item-group
{
  display: none;
}

.resultListTemplate {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	border-bottom: 1px solid #BBBBBB;
}

.resultListTemplate .resultListTemplateTop {
	display: flex;
	justify-content: space-between;
}

.resultListTemplate .resultListTemplateTop .placeholderImg {
	width: 160px;
	height: 160px;
	background-color: gray;
	display: inline-block;
}

.resultListTemplate .resultListTemplateTop .name {
	vertical-align: top;
}

.resultListTemplate .resultListTemplateBottom {
	display: flex;
	justify-content: space-between;
}

.scroller {
    overflow:scroll;
    flex-grow: 1;
}


.pane-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
}
