body {
    font-size: 16pt;
    background-color: rgb(238, 238, 238);
}

#root {
    /* Make room for the AppBar */
    padding-top: 48px;
    height: calc(100% - 48px);
}

#root #currentPage {
    height: 100%;
    position: relative;
}

#appBar .win-commandingsurface-actionarea {
    background-color: rgb(68, 34, 87);
}

.logoArea {
    position: relative;
    background-color: rgb(68, 34, 87);
    height: 70px;
}

.logoArea > * {
    position: absolute;
}

#appbarLabel {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    align-self: center;
}